__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

venv/
env/
.env


.ipynb_checkpoints/

.vscode/

.DS_Store

*.log


~/.cache/huggingface/
transformers_cache/
torch_cache/

*.json
*.csv

*.egg
*.egg-info/
dist/
build/
